*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
nav{
    background-color:orange;
    padding: 5px 20px;
    text-align: center;
    font-size: 1.5em;
}
main{
    padding: 10px;
}
section{
    min-height: 500px;
    border: solid 3px green;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 10px 1%;
}
section h3{
    color: black;
}


footer{
    height: 100px;
    background-color: purple;
    text-align: center;
    color: white;
}